# Configuration file

features {
    # Enable hopping barrels. On by default. [default: true]
    B:enableHoppingBarrels=true

    # Enable silky barrels. On by default unless tweak.blockCarrying is also present. [default: false]
    B:enableSilkyBarrels=false
}


render {
    # Should items be rendered on barrels? [default: true]
    B:renderItem=true

    # Should items use fancy 3D rendering? [default: false]
    B:renderItem3D=false

    # Should text be rendered on barrels? [default: true]
    B:renderText=true
}


