# Configuration file

blockcarry {
    # Accepts block/tile entity registry names and classes.
    S:blacklist <
     >

    # Accepts block/tile entity registry names and classes.
    S:whitelist <
        vazkii.quark.decoration.tile.TileCustomChest
     >
}


